.logo-container {
  z-index: 0;
  position: absolute;
  width: 500px;
  height: 609px;
  top: 0;
  margin-left: 50%;
  bottom: 0;

  svg {
    width: 110%;
    height: auto;
    bottom: 0;
    margin-top: 25%;
  }
  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 105%;
    opacity: 0;
    z-index: 1;
  }
}

.svg-container {
  stroke: #ff7c36;
  stroke-width: 10px;
}
